<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">Nome</ion-label>
  <ion-input type="text" [(ngModel)]="nome"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input type="text" [(ngModel)]="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="password">Senha</ion-label>
  <ion-input type="text" [(ngModel)]="senha"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="password">Confirmar Senha</ion-label>
  <ion-input type="text" [(ngModel)]="confirmarsenha"></ion-input>
</ion-item>


<ion-button expand="block" (click)="login()">Cadastrar</ion-button>nar

</ion-content>
