<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-avatar>
          <img src="https://lh3.googleusercontent.com/fife/AAWUweXD3G22M94zkoRaDLCMIOTsakVedFOjA0Aejv-pUol4kiK0z5qnVjFGB16MyYT70aCawOtNCZ6Uw6Zw_tKmK1PVkAR7dG_rEt5u4pq6p5X1lKH9KmJWeGaoPRErcnPKZdQpwdv2eGD0AJ6iEIdhN6nDKJna6slFQghUAM8FbhgWc00FXPZT2RfXh0814Lt2ybckwG8FzluL6KkE6s94zeDHxAE9L8UuNDyGolIb-l8RV0-_GtfaIgJVCtJ4V6V2DFODkWPmu0ZgY3wgjcgK_1DvPHtex50a-q7N8eCUeiZ9RFkb6hTayD-CCwYrek1PHLsBlgqL5h5ZzvjyEhH_gfgNX_9CJRkJrI2FDsm6dOUQvQQQGtww951iyHXpliRSzbVvufQSs3FnwFJ_VVATKXhP3MtWRKVf5i3J7TDk_C1EeslV3DJCWiDllq-UkNZ25SFfvmugjID2wQPH3qrwippH-HYhDC0fxP3kELOTQqvPxQn9fpL4fyHLU-melPHKkJYWl-0JsPRLJ33sg0UQYTfewgkmPAXF3RgDnBBs9ZA2fdKy9EXE29MMlgf_ykma2OtshckmxdtQQqEIpSmVoCvEXOxP40uG0Iky5eQQw3VpCqU7Z1tbLFZkmcL9fcWKxovI171BmZiaeybo9tdWNB_h3op7SD2Ol9H3eQWzjieoWc6GU3Drlqt2JgvkKbmZdvQvVjulOnbfP3ncIypwlSQL_mBd4BuMRak=w320-h276?authuser=0" >
          </ion-avatar>
          <ion-list-header>Apis's</ion-list-header>
         
         

         
          
      
          
         
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header></ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label></ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
