RewriteEngine on
RewriteRule ^empresas/? api.php
RewriteRule ^empresas/([0-9]+)?$ api.php?id=$1

RewriteEngine on
RewriteRule ^empresas/? apicliente.php
RewriteRule ^empresas/([0-9]+)?$ apicliente.php?id=$1
